---
import './hero.css';
import Button from '../atoms/Button.astro';
---

<section class="hero">

	<div class="hero__container">
		<div class="text__content">
			<h1 class="hero__title color__gradiente">Arzun Koirala</h1>
			<p class="hero__text">
				Hello, I am a Graphics Designer. I love to create new things.
			</p>
			<Button href="#" text="Whats Up!"/>
		</div>
    <img
		class="hero__img"
		src="/img/jhon-doe.webp"
		alt="Jhon Doe"
		width="384"
    	height="384"
	/>
	</div>
</section>
