---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title content="Skills" />
		<p>
			Talking about my skills in Graphics Designing, I have experience in
			Adobe Illustrator, Adobe Photoshop, Adobe XD, Figma, and Sketch. I have
			also worked on UI/UX design and have experience in Adobe XD, Figma, and
			Sketch. I have also worked on Web Development and have experience in
			HTML, CSS, JavaScript, React, Angular, and Bootstrap.
		</p>
	</div>
</section>
