---
import TerminalIcon from '../../atoms/terminal-icon/TerminalIcon.astro';
import Terminal from '../terminal/Terminal.astro';
import './skills-on-terminal.css';
---

<Terminal name="arzunKoirala">
	<div class="terminal__skills">
		<h2>My Skills</h2>
		<div class="terminal__skills__container">
			<TerminalIcon
				src="/SVG/Illustrator.svg"
				color="#7738ff"
				name="Illustrator"
			/>
			<TerminalIcon
				src="/SVG/Indesign.svg"
				color="#FF4747"
				name="Indesign"
			/>
			<TerminalIcon
				src="/SVG/Photoshop.svg"
				color="#00D1FF"
				name="Photoshop"
			/>
			<TerminalIcon src="/SVG/PremierePro.svg" color="#F3CBC2" name="PremierePro" />
			<!-- <TerminalIcon src="/assets/css.svg" color="#00A3FF" name="CSS" />
			<TerminalIcon
				src="/assets/electron.svg"
				color="#3F75FF"
				name="Electron"
			/> -->
		</div>
	</div>
</Terminal>
