.contact {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

.contact__container {
	display: flex;
	padding: 5rem 6.1rem;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	gap: 4.4rem;
	width: 50%;
}

.contact__content {
	display: flex;
	flex-direction: column;
	/* max-width: 75rem; */
	width: 100%;
	gap: 2.1rem;
	justify-content: center;
}

@media screen and (max-width: 768px) {
	.contact__container {
		padding: 8rem 3.1rem;
		flex-direction: column-reverse;
		align-items: center;
		width: 100%;
	}
}
